<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>abrim</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        {% if get_flashed_messages() %}
        <div class="flash">
            {% for message in get_flashed_messages() %}
            <div class="flashmessage">{{ message|safe }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>
