{% extends "layout.html" %}
{% block body %}
    <header>
        <h1 id="main_title"></h1>
    </header>
    <nav><!--User: {{ user_id|safe }} || Node: {{ node_id|safe }} || --><a href="/new">new</a> - <a href="/logout">logout</a></nav>
    <main>
        <article>
            <header>
              <h3>items:</h3>
              <!--<p>Last modified: <time datetime="2000-01-01T00:00:00Z">on 2000/01/01 at 0:00pm</time>
              </p>-->
            </header>
            <section>
                {% if auth_ok %}
                    {% if conn_ok %}
                        {% if content %}
                            {% for item in content %}
                                <p> <a href="/nodes/{{ item.node|safe }}/items/{{ item.id|safe }}">{{ item.id|safe }}</a></p>
                            {% endfor %}
                        {% else %}
                            <p>No content!</p>
                        {% endif %}
                    {% else %}
                        <p>Failed to connect!</p>
                    {% endif %}
                {% else %}
                    <p>Authorization failed!</p>
                {% endif %}
            </section>
        </article>
    </main>
    <!--
    <nav>recent nav</nav>
    <nav>tags nav<nav>
    <footer>footer</footer>
    -->
{% endblock %}
