{% extends "layout.html" %}
{% block body %}
    <header>
        <h1 id="main_title">Log In</h1>
    </header>
    <main>
        <article>
            <header>
              <h3>...</h3>
            </header>
            <section>
                <form action="" method="post">
                    <p><input type=text name=username>
                    <p><input type=password name=password>
                    <p><input type=submit value=Login>
                </form>
            </section>
        </article>
    </main>
    <footer>...</footer>
{% endblock %}
