{% extends "layout.html" %}
{% block body %}
    <header>
        <h1 id="main_title">Log In</h1>
    </header>
    <main>
        <article>
            <header>
              <h3>...</h3>
            </header>
            <section>
                <form action="" method="post">
                    <p>Username: <input type=text name=username value="admin"></p>
                    <p>Password: <input type=password name=password value="secret"></p>
                    <p>Node: <input type=text name=node value="http://localhost:5001"></p>
                    <p><input type=submit value=Login></p>
                </form>
            </section>
        </article>
    </main>
    <footer>...</footer>
{% endblock %}
