{% extends "layout.html" %}
{% block body %}
    <header>
        <h1 id="main_title"></h1>
    </header>
    <nav><!--User: {{ user_id|safe }} || Node: {{ node_id|safe }} || --><a href="/new">new</a> - <a href="/">list</a> - <a href="/logout">logout</a></nav>
    <main>
        <article>
            <header>
              <h3>nodes:</h3>
              <!--<p>Last modified: <time datetime="2000-01-01T00:00:00Z">on 2000/01/01 at 0:00pm</time>
              </p>-->
            </header>
            <section>
                {% if auth_ok %}
                    {% if conn_ok %}
                        {% if content %}
                            {% for item in content %}
                                <p><a href="{{ item.base_url|safe }}">{{ item.id|safe }}</a></p>
                            {% endfor %}

                            <form action="/nodes" method="post">
                                <p>New node: <input type=text name=new_node_base_url value="http://localhost:6001"></p>
                                <p><input type=submit value="Add node"></p>
                            </form>
                        {% else %}
                            <form action="/nodes" method="post">
                                <p>New node: <input type=text name=new_node_base_url value="http://localhost:6001"></p>
                                <p><input type=submit value="Add node"></p>
                            </form>
                        {% endif %}
                    {% else %}
                        <p>Failed to connect!</p>
                    {% endif %}
                {% else %}
                    <p>Authorization failed!</p>
                {% endif %}
            </section>
        </article>
    </main>
    <!--
    <nav>recent nav</nav>
    <nav>tags nav<nav>
    <footer>footer</footer>
    -->
{% endblock %}
