html {
    font-size: medium;
}

body {
    background-color: #fffff6;
    color: #330;
    font-family: Sans-Serif;
    max-width: 40em;
    width: auto;
    font-size: 1rem;
    line-height: 1.4;
    margin: 0 auto;
    padding: 1em 1em;
}

main {
    background-color: #ffffff;
    margin: 0.5em auto;
    padding: 1.5em 2em;
    box-shadow: 3px 3px 39px -5px rgba(0,0,0,0.18);
}


section {
    margin: 0.5em auto;
    padding: 0.5em;
}

a {
    color: #1e6b8c;
    font-size: 1em;
    text-decoration: none;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    transition-property: color, background-color;
    transition-timing-function: linear;
}

a:visited {
    color: #6f32ad;
    font-size: 1em;
}

a:hover {
    background: #f0f0ff;
    font-size: 1em;
    text-decoration: underline;
}

a:active {
    background-color: #427fed;
    color: #fffff6;
    color: white;
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: georgia, times, serif;
    color: #703820;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

h1 {
    font-size: 2.2em;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    border-bottom: solid 0.1rem #703820;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
    text-decoration: underline;
}

h5 {
    font-size: 1.2em;
    font-style: italic;
}

h6 {
    font-size: 1.1em;
    margin-bottom: 0.5rem;
}

pre,
code,
xmp {
    font-family: courier;
    font-size: 1rem;
    line-height: 1.4;
    white-space: pre-wrap;
}

textarea {
    background-color: #fffff6;
    resize: none;
    width: 100%;
    height: 6em;
}

#main_title {
    margin-top: 0.1em;
}

.sync_button {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    background-color:#33bdef;
    border-radius:6px;
    border:1px solid #057fd0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px -1px 0px #5b6178;
}
.sync_button:hover {
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
    background-color:#019ad2;
}
.sync_button:active {
    position:relative;
    top:1px;
}

.flash {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    text-align: center;
    animation: vanish 4s forwards;
}

@keyframes vanish {
    0%   {
        opacity: 0;
        }
    15%  {
        opacity: 1;
        box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.25);
        }
    50%  {
        opacity: 1;
        box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.25);
        }
    100% {
        opacity: 0;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        }
}

.flash .info,
.flash .warn,
.flash .error {
    margin: 0;
    padding: 0.6em;
}

.flash .info {
    background-color: #2b7;
}
.flash .warn {
    background-color: #ff9;
    color: black;
}
.flash .error {
    background-color: #f93;
}
